{% extends "layout.html" %} 
<!-- 
   see the video tutorial for how this kind of thing works:
   https://youtu.be/H3Fn33lYuE0
-->

{% block extra_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gamelvl2.css') }}">
{% endblock %}

{% block title %}
    Level 2
{% endblock %}

{% block body %}
    <div class="frame">
        <div class="corner_topleft"></div>
        <div class="corner_topright"></div>
        <div class="corner_bottomleft"></div>
        <div class="corner_bottomright"></div>
        
        <div class="camera">
            <div class="map pixel-art">
                <div class="character" facing="down" walking="true">
                    <div class="shadow pixel-art"></div>
                    <div class="character_spritesheet pixel-art"></div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="modal" id = "wallet" >
    <div style="width: 136px;">
        Wallet: $
    </div>
    </div>


    <div class="modal" id = "escalator" >
        Escalator to level 2 - Stocks & Cryptocurrency exchange! <br><br>
        <div class="options">
            <button class="btn" onclick="location.href = '/game/level3'">Go to level 2</button>
        </div>
    </div>

    <div class="modal" id="loungetable">
        Lounge table!<br><br>
        You can learn a few valuable tips on Stocks and crypto currency! <br><br>
        Stocks are much less volatile than crypto currency making them safer and more risk free <br>
        Only invest in crypto currency if you are an expert. It is much more risky than stocks, bonds and ETFs.
    </div>




    <div class="modal" id="atm">
        Bank ATM <br><br><br>
        <div class="options">
            <br>
            <br>

            <button class="btn" onclick="showATMinterface();">Use ATM!</button>
        </div>
    </div>

    <div class="modal" id = "atmui">
        <span>Savings: $ <br>               
            Wallet: $<br>
        </span>
        <br>
        <div class="options">
            <input placeholder="Enter amount in $" type="number" id="amt"></input>
        </div>
        <br>
        <div class="options">

            <button class="btn" onclick="withdraw();">Withdraw</button>
            <button class="btn" onclick="deposit();">Deposit</button>
            
         </div>
    </div>

    <div class="modal" id="banktable">
        Welcome to the Bank!<br>
        <br>The bank teller is off for the day. <br>Try using the ATM<br>>>><br>

        </div>
    </div>





    <div class="modal" id="newspaper">
        Newspapers - $1<br><br>
        The newspapers for today are out of stock. Come back tomorrow.<br>
        <br><br><br>
        <div class="options">
        </div>
    </div>










    <div class="modal" id = "door"> 
        Exit the Bank
        <div class="options">
            <button class="btn" onclick="location.href = '/game/level1'">Yes. Exit the building</button>
        </div>
    </div>

    <div class="modal" id = "overwhelm">
        {% if answered %}
            {% if answers[1] != "" %}
                <h1>ANSWERED</h1>
            {% else %}
                Test subject has been a good boy so far and has never entered the forbidden office <br><br><br>

                Test subject feels overwhelmed ____
                <div class="options">

                    <button class="btn" onclick="changeval(2, 'Never'); changeow();">Never</button>
                    <button class="btn" onclick="changeval(2, 'Sometimes'); changeow();">Sometimes</button>
                    <button class="btn" onclick="changeval(2, 'A lot'); changeow();">A lot</button>
                    
                </div>
            {% endif %}
        {% endif %}
    </div> 

    <form action="/processing" method="post" hidden id="info">
        {% if answered %}
            <input id="val1" name="val1" value="{{ answers[0] }}">
            <input id="val2" name="val2" value="{{ answers[1] }}">
        {% else %}
            <input id="val1" name="val1" value="">
            <input id="val2" name="val2" value="">
        {% endif %}
    </form>
    <script src="{{url_for('static', filename='js/gamelvl2.js')}}"></script>
    <script>
        var ATMinterface = document.getElementById("ATMinterface");
        var atm = document.getElementById('atm');
        function changeval(x, z) {
            let id = "#val" + String(x);
            document.querySelector(id).value = z;
            console.log(z);
        }
        function senddata() {
            document.querySelector("#info").submit();
        }

    </script>
    
{% endblock %}